body{
    color:black;
    background-color: rgb(24, 120, 209);}
        
    article{
    text-align: left; background-color: blue(44, 43, 42);
    
    
    }
    
    nav>ul>li>. resaltado{
     color:rgb(29, 128, 128);
    
    
    }
    
     #titulo del blog {
     text-align: left;
     font-size: 3rem;
    
    }