body{
    color:black;
    background-color: rgb(16, 136, 32);}
        
    article{
    text-align: left; background-color: blue(44, 43, 42);
    
    
    }
    
    nav>ul>li>. resaltado{
     color:greenyellow;
    
    
    }
    
     #titulo del blog {
     text-align: left;
     font-size: 3rem;
    
    }