

section>header{
    grid-column: span 12;
}
section>main{
    grid-column: span 8;
}
section>article{
    grid-column: span 4;
}

section>footer{
    grid-column: span 12;
}



/* grid */
section {
    
    /* despliégate como  grid */
    display: grid;
    /* Crea 12 columnas cada una de una fracción usando la función repeat*/
    grid-template-columns: repeat(12, 1fr);
    /* deja que las filas(renglones) ocupen el alto que necesitan */
    grid-auto-rows: auto;
    /* añade un espacio entre los elementos del grid de 3rem */
    gap: 3rem;
}

/* Termina grid */

body{
    background-color:rgb(255, 0, 0);color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article{
    background-color: rgb(0, 0, 0); 
    padding: 1.5rem;
    border-bottom: 1px solid;color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.titulo_del_blog{
    text-align: center;
    font-size: 2rem;
}



.footer_blog{
    margin: 2rem;
}

.res {
    text-decoration: none;
    
}