/* grid */
section {
    
    /* despliégate como  grid */
    display: grid;
    /* Crea 12 columnas cada una de una fracción usando la función repeat*/
    grid-template-columns: repeat(12, 1fr);
    /* deja que las filas(renglones) ocupen el alto que necesitan */
    grid-auto-rows: auto;
    /* añade un espacio entre los elementos del grid de 3rem */
    gap: 3rem;
}

/* Termina grid */

section>header{
    grid-column: span 12;
    
}
section>main{
    grid-column: span 8;
}



body{
    background-color:rgb(51, 255, 0);color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

article{
    background-color: rgb(44, 43, 43); 
    padding: 1.5rem;
    border-bottom: 1px solid;color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.titulo_del_blog{
    text-align: left;
    font-size: 2rem;
}



.footer_blog{
    margin: 2rem;
}


nav>ul>li {
    list-style: none;
}

nav>ul>li>a {
    text-decoration: none;
}
header {
    text-align:left;
}     
section>aside{
    grid-column: span 4;
}     
section>footer{
    grid-column: span 12;
} 

nav>ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid; color:white;
    padding-bottom: 0.5rem;
}