body{
    color:black;
    background-color: rgb(255, 255, 255);}
        
    article{
    text-align: center; background-color: blue(44, 43, 42);
    
    
    }
    
    nav>ul>li>. resaltado{
     color:greenyellow;
    
    
    }
    
     #titulo del blog {
    text-align: left;
    font-size: medium;
    
    }