body{
color:black;
background-color: rgb(54, 117, 177);}
    
article{
text-align: left; background-color: blue(44, 43, 42);


}

nav>ul>li>. resaltado{
 color:rgb(98, 143, 31);


}

 #titulo del blog {
 text-align:left;
 font-size: 3rem;

}